body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

header {
    background-image: linear-gradient(to bottom,#106EBE , #0FFCBE);
}

section {
    padding: 50px 0;
}

#tentang {
    background-color: #f7f7f7;
}

#pengalaman {
    background-color: #f0f0f0;
}